.form-container {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.form-container h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    margin-top: 20px;
    font-size: 1em;
    margin-bottom: 8px;
    display: block;
    font-weight: bold;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    color: white;
}

.form-container input {
    width: 60%;
    display: inline-block;
}

.form-container textarea {
    resize: vertical;
    height: 50px;
}

.form-container button {
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
}

.form-container button:hover {
    background-color: #0056b3;
}

input:focus, textarea:focus {
    border-color: #3498db; /* Change border color */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Add a subtle shadow */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.image-input {
    display: none !important;
}

.image-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    cursor: pointer;
    background-color: #f83f3f;
    color: white;
    border-radius: 8px;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-label:hover {
    background-color: hwb(0 12% 15%);
}

.image-label:active {
    transform: scale(0.95);
}