.page-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* Makes the text stand out */
}

.page-container h2 {
    margin-top: 20px;
}

.page-container p {
    font-size: 1em;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.home-cards-wrapper {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.motorcycle-card {
    border-radius: 10px;
    overflow: hidden;
    max-width: 200px;
    width: 100%;
}

.motorcycle-image {
    width: 100%;
    height: 120px;
    object-fit: cover; /* Ensures image fits properly */
}

.motorcycle-info {
    font-size: 0.8em;
    padding: 10px;
}

.view-details-btn, .edit-btn, .delete-btn {
    margin-top: 10px;
    background-color: #007BFF; /* Blue background */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 5px 10px; /* Space inside the button */
    font-size: 0.6em; /* Set font size */
    font-weight: bold; /* Make text bold */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effects */
    text-transform: uppercase; /* Uppercase text */
}

.view-details-btn:hover ,.edit-btn:hover, .delete-btn:hover  {
    background-color: #0056b3; /* Darker blue on hover */
    transform: translateY(-2px); /* Button lifts slightly on hover */
}

.view-details-btn:active, .edit-btn:active, .delete-btn:active  {
    transform: translateY(1px); /* Button "pressed" effect */
}

.view-details-btn:focus, .edit-btn:focus, .delete-btn:focus  {
    outline: none; /* Remove outline on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.8); /* Add a focus ring */
}

