/* Media Queries for Mobile */
@media screen and (max-width: 768px) {
    .site-container {
        background-image: url('../images/mobile-background.JPG');
        background-size: cover;
        background-position: center;
        font-size: 12px;
    }

    .toggle-icon {
        display: block;
        position: fixed;
        right: 10px;
        top: 20px;
        border: 1px solid white;
        border-radius: 10px;
        padding: 3px 10px;
        font-size: 9px;
        font-weight: bold;
    }

    .toggle-active {
        background-color: white;
        color: black;
    }
    
    .nav-container {
        position: fixed;
        top: -1000px;
        width: 100%;
        height: 100vh;
        background: black;
        transition: top 0.6s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    .nav-container ul {
        flex-direction: column;
        gap: 45px;
        font-size: 30px;
    }

    .nav-show {
        top: 0;
    }


    .page-container {
        padding: 20px;
    }

    .header-container {
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        height: auto;
        padding: 0;
        justify-content: center;
        align-items: center;
        height: 60px;
    }

    .home-cards-wrapper {
        flex-direction: column;
    }

    .cards-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        scroll-behavior: smooth;
        -ms-overflow-style: none; /* IE & Edge */
        margin-top: 20px;
    }

    .cards-wrapper::-webkit-scrollbar {
        display: none;
    }

    .search-bar-container {
        gap: 10px;
    }

    .search-bar-container input {
        font-size: 9px;
        padding: 5px;
    }

    .search-bar-container .search-button {
        padding: 0;
    }

    .form-container label {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .view-details-btn {
        margin: 0;
        padding: 2px 4px;
        font-size: 10px;
    }

    .profile-container {
        flex-direction: column;
    }

    .profile-side-panel {
        flex-direction: row;
        max-width: none;
        margin-bottom: 20px;
    }

    .profile-side-panel span:hover {
        background-color: inherit;
        transform: translateY(-2px);
    }


    .profile-info-container {
        margin: 0;
    }

    .profile-header-container {
        flex-direction: column;
        gap: 20px;
    }

    .footer {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

/* Larger Mobile Screens */
@media screen and (max-width: 480px) {}