/* Media Queries for Mobile */
@media screen and (max-width: 768px) {
    .site-container {
        background-image: url('../images/mobile-background.JPG');
        background-size: cover;
        background-position: center;
        font-size: 12px;
        background-color: rgba(0, 0, 0, 0.5);

    }

    .toggle-icon {
        display: block;
        position: absolute;
        right: 10px;
        top: 20px;
        border: 1px solid white;
        border-radius: 10px;
        padding: 3px 10px;
        font-size: 9px;
    }

    .nav-container {
        position: absolute;
        top: -100%;
        width: 100%;
        height: auto;
        background: rgba(0, 0, 0, 0.9);
        transition: top 0.6s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-container ul {
        flex-direction: column;
        gap: 10px;
        font-size: 20px;
    }

    .nav-show {
       top: 0;
    }

    main {
        background: rgba(0, 0, 0, 0.6);
    }

    .page-container {
        padding: 20px;
    }

    .header-container {
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        height: auto;
        padding: 0;
        justify-content: center;
        align-items: center;
        height: 60px;
    }

    .nav-container {
        margin-bottom: 10px;
    }

    .home-cards-wrapper {
        flex-direction: column;

    }

    .cards-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    .search-bar-container {
        gap: 10px;
    }

    .search-bar-container input {
        font-size: 9px;
        padding: 5px;
    }

    .search-bar-container .search-button {
        padding: 0;
    }

    .form-container label {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .view-details-btn {
        margin: 0;
        padding: 0;
        font-size: 10px;
    }

    .profile-container {
        flex-direction: column;
    }

    .profile-side-panel {
        flex-direction: row;
        max-width: none;
        margin-bottom: 20px;
    }

    .profile-info-container {
        margin: 0;
    }

    .profile-header-container {
        flex-direction: column;
        gap: 20px;
    }

    .footer {
        background-color: rgba(0, 0, 0, 0.8);

    }
}

/* Larger Mobile Screens */
@media screen and (max-width: 480px) {}